<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dbnizar.com.dbnizar">

    <application
        android:name=".dbnizarbase.common.BaseProject"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".dbnizarbase.view.activity.HomeActivity"
            android:theme="@style/ToolbarColoredBackArrowWhite"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".dbnizarbase.view.activity.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".dbnizarbase.view.activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dbnizarbase.view.activity.ProjectManagerActivity"
            android:label="@string/title_activity_project_manager"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".dbnizarbase.view.activity.AddNewProject"
            android:theme="@style/ToolbarColoredBackArrowWhite"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".dbnizarbase.view.activity.ProjectDetailsActivity"
            android:theme="@style/ToolbarColoredBackArrowWhite" />
    </application>

</manifest>